@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Simplismo
@{
    Layout = "Master.cshtml";
    int cacheTime = 10;

    string title = Umbraco.Field("title", altFieldAlias: "pageName").ToString();
   
}


<div class="row">


    <div class="@Grid.Cols(Grid.Md, 8)">
        @Html.CachedPartial("IntroHelper", Model, cacheTime, cacheByPage: true,
                              viewData: new ViewDataDictionary { { "showTitle", 1 }, { "headingTag", "h1" } })

        @Html.Raw(Model.Content.GetPropertyValue("bodyText"))

        <div class="elements">
            @Html.Partial("Elements", Model)
        </div>
        @RenderSection("macroContent", false)
    </div>

    <div id="rightCol" class="@Grid.Cols(Grid.Md, 3) @Grid.Off(Grid.Md, 1)">
        <div id="rightColUpper">
            @Html.CachedPartial("RightCol", Model, cacheTime, cacheByPage: true)
        </div>
        <div id="rightColLower">
            @Html.CachedPartial("RightPromos", Model, cacheTime, cacheByPage: true)
        </div>
    </div>


</div>