@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Simplismo
@{
    Layout = "Master.cshtml";
    int cacheTime = 10;
    
    Umbraco.Web.Models.PartialViewMacroModel mdl = new global::Umbraco.Web.Models.PartialViewMacroModel(Model.Content, 0, "", "", null);

    string title = Umbraco.Field("title", altFieldAlias: "pageName").ToString();
    string bodyText = Umbraco.Field("bodyText").ToString();

}

<div class="row">
    <div id="contentCol" class="@Grid.Cols(Grid.Md, 9)">

        @Html.CachedPartial("IntroHelper", Model, cacheTime, cacheByPage: true,
                        viewData: new ViewDataDictionary { { "showTitle", 0 }, { "headingTag", "h1" } })
        <div class="bodyText">
            @Html.Raw(bodyText)
        </div>

</div>

    <section class="homepromos clearfix">
    @Html.CachedPartial("HomePromos", Model, 10, cacheByPage: true)
</section>


    <div class="elements clearfix">
    @Html.Partial("Elements", mdl)
</div>


